@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
  color: #fdfdfd;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #1e1e1e;
}

.body-index {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  nav {
    h1 {
      margin-top: 2rem;
      font-size: 1.3rem;
      font-weight: 300;
      text-align: center;
    }
  }
}

main {
  width: 100%;
  .container {
    width: 65%;
    margin: 0 auto;
    .search__input {
      .search__input-container {
        margin: 1rem auto 0;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #fff;
        border-radius: 0.3rem;
        font-size: 0.8rem;
        input {
          background-color: transparent;
          outline: none;
          border: none;
          padding: 0.5rem 0 0.3rem;
        }
        button {
          background: transparent;
          border: none;
          outline: none;
        }
      }
    }
  }
  .container__products {
    width: 60%;
    margin: 1.8rem auto 0;
    padding-bottom: 1rem;
    .products {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      gap: 1.3rem;
      .product {
        margin-top: 1rem;
        height: 14rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        position: relative;
        &__image {
          width: 10rem;
          margin: 0 auto;
          img {
            width: 100%;
            object-fit: cover;
          }
        }
        &__title {
          font-size: 0.8rem;
        }
        &__more {
          a {
            text-decoration: none;
            color: #ffa500;
            font-size: 0.8rem;
          }
        }
      }
      .product__heart {
        position: absolute;
        top: 0.4rem;
        right: 1.4rem;
        opacity: 1;
        width: 1.3rem;
        height: 1.3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fdfdfd;
        border-radius: 100%;
        transition: 0.3s;
        color: #ffa500;

        .bi-heart {
          font-size: 0.7rem;
          padding: 0.1rem 0 0 0.05rem;
        }
        &:hover {
          transition: 0.3s;
          background-color: #ffa500;
          color: #fdfdfd;
          cursor: pointer;
        }
      }
    }
  }

  .container__products-detail {
    width: 100%;
    .products-detail {
      margin-top: 2rem;
      text-align: center;
      .product__detail-image {
        width: 80%;
        margin: 2rem auto 0;
        img {
          width: 100%;
        }
      }
      h4 {
        margin-top: 0.5rem;
      }
      p {
        margin-top: 0.3rem;
        color: #fff;
        font-weight: 300;
      }
      .product-instructions {
        width: 75%;
        margin: 0.5rem auto 1rem;
        text-align: center;
        font-size: 0.7rem;
      }
    }
  }
}

@media (min-width: 767px) {
  header {
    nav {
      h1 {
        font-size: 1.8rem;
      }
    }
  }

  main {
    .container {
      width: 35%;
      margin: 1.4rem auto 0;
      .search__input {
        .search__input-container {
          margin-top: 1rem;
          input {
            width: 100%;
            padding: 0.4rem;
          }
          button {
            padding-right: 0.4rem;
            cursor: pointer;
          }
        }
      }
    }
    .container__products {
      width: 65%;
      .products {
        flex-direction: row;
        gap: 1rem;
        .product {
          width: 14rem;
          height: 18.5rem;
          &__image {
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
        .product__heart {
          right: 0.6rem;
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
    .container__products-detail {
      .products-detail {
        .product__detail-image {
          img {
            width: 60%;
          }
        }
      }
    }
  }
}

@media (min-width: 990px) {
  main {
    .container {
      width: 20%;
    }
    .container__products {
      width: 80%;
      .products {
        .product {
          &__image {
            width: 12rem;
          }
          &:hover .product__heart {
            transform: translateX(-50%);
            opacity: 1;
          }
          .active {
            transform: translateX(-50%);
            opacity: 1;
            background-color: #ffa500;
            color: #fdfdfd;
          }
          .remove {
            background-color: #fdfdfd;
            color: #ffa500;
          }
        }

        .product__heart {
          opacity: 0;
          width: 1.8rem;
          height: 1.8rem;
        }
      }
    }
    .container__products-detail {
      .products-detail {
        .product__detail-image {
          img {
            width: 30%;
          }
        }
        .product-instructions {
          font-size: 0.8rem;
        }
      }
    }
  }
}
